.main-cart {
	text-align: center;
	margin-top: 5em;
}

.pymt-span {
	display: inline-block;
	width: 125px;
	height: 25px;
}

.total {
	margin-top: 20em;
}

.subtotal,
.free {
	font-weight: bold;
}

.stripe-btn {
	margin-bottom: 10em;
}

.line-break {
	width: 190px;
}
