.main-cart {
	text-align: center;
	margin: 5em 0;
}

.pymt-span {
	padding: 0.5em;
	margin: 1em;
	// height: 10em;
	// width: 370px;
	// text-align: center;
}

.total {
	margin-top: 15em;
}

.subtotal,
.free {
	font-weight: bold;
}
