.product-container {
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px;
	margin: 20px 0px;
	width: 350px;
	align-items: center;
}

.product-image {
	width: 250px;
}

.products {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 10px;
	height: 100%;
	margin-bottom: 5em;
	margin-top: 1.5em;
}

.current-page {
	border-bottom: 1px solid #707070;
}

.current-page:hover {
	color: #707070;
}

.product-name,
.product-price {
	font-weight: bold;
	margin-bottom: 0.6em;
}

.product-name,
.product-price,
.product-description {
	margin-bottom: 0;
}

.add-to-cart-button {
	background-color: black;
	color: white;
	width: 112px;
	height: 42px;
	// padding: 1em;
	font-size: 16px;
	cursor: pointer;
	margin-top: 1em;
}

@media (min-width: 1350px) {
	.products {
		width: 1350px;
		margin: 2em auto;
		padding: 2em;
	}
}
