.Footer {
	display: flex;
	font-family: 'Oswald', sans-serif;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	justify-content: space-around;
	align-items: center;
	height: 170px;
	background-color: rgb(206, 188, 188);
	color: black;

	// .icon {
	// 	display: flex;
	// 	width: 40%;
	// 	justify-content: space-around;
	// 	align-items: ceneter;
	// }
	.legal-info {
		// background-color: black;
		font-size: 0.8em;
	}

	.more-info {
		display: flex;
		justify-content: space-around;
		width: 550px;
		margin: 0 auto;

		h6 {
			cursor: pointer;
		}

		h6:hover {
			color: #05a4b9;
		}
	}
}
@media (max-width: 600px) {
	.Footer {
		height: 150px;

		// .icon {
		// 	width: 100%;
		// }

		.more-info {
			width: 100%;
		}

		.legal-info {
			// background-color: black;
			font-size: 0.6em;
		}

		h6 {
			cursor: pointer;
		}
	}
}

@media (min-width: 1350px) {
	.more-info {
		// width: 550px !important;
		margin: 2em auto;
		padding: 2em;
		// background-color: black;
	}
}
