$font-white: #ffffff;
$font-size: 16px;
$background-black: #000000;

// .App {
// 	text-align: center;
// 	min-height: 100%;
// }

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
